@font-face {
    font-family: 'JurassicPark';
    src: url(fonts/JurassicPark.woff);
    src: url(fonts/JurassicPark.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #fcefde;
    color: hsl(0, 2%, 18%);
    font-family: sans-serif;
}

header {
    height: 10rem;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'JurassicPark';
    font-size: 4rem;
}
button{
    border: thin solid black;
    padding: 0.2rem;
}

main {
    display: flex;
    max-width: 100vw;
}

img {
    display: block;
    width: 33.33vw;
    border: 2px solid black;
}
section :is(h2,p){
    margin: 1rem;
}
.calendar-title th{
    padding: 10px;
    text-transform: unset;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}
.calendar{
    background: #42676f;
    font-family:unset;
    color: #FFF;
    width:100%;
    table-layout:fixed;
    width: 30%;
}
.calendar-container{
  display: flex;
  flex-direction: row;  
  justify-content: space-around;
}

form {
    display: flex;
    flex-direction: column;
    width: max-content;
}
form p{
    margin-top: 0.4rem;
}
.form-container { 
    margin: 2rem 0;
    display: flex;
    justify-content: center;
}
label{
    font-weight: 400;
    margin: 0.1rem;
}
h2 {
    margin-left: 8rem;
}
.JSON{
border: 1px solid lightgray;
background-color: #FAFAFC;
display: flex;
flex-direction: column;
height: 10rem;
}
.JSON button {
    width: fit-content;
    margin: 2rem 2rem 0 8rem;}
.JSONfield{
    margin: 1rem 8rem;
    height: 10rem;
}

